.git
.env
.gitignore
.gitattributes
.editorconfig
docker-compose.yml
Dockerfile
logs/*
storage/*
!storage/.gitkeep
public/uploads/*
!public/uploads/.gitkeep
vendor
node_modules
npm-debug.log
yarn-error.log
.ComposerAuth
.xml
Homestead.json
Homestead.yaml
auth.json
.phpunit.result.cache
webpack.mix.js
package.json
package-lock.json
README
where